    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">Flatagram</a>
        <form class="form-inline" method="get" action="{{ url_for('main.search') }}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="nav">
            <li>
                <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li>
                <a class="nav-link" href="{{ url_for('explore.main') }}">Explore</a>
            </li>
            {% if g.user %}
                <li>
                    <a class="nav-link" href="{{ url_for('dm.inbox') }}">DM</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('main.work_in_progress') }}">Activity</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('user.profile', name=g.user.name) }}">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                <li>
                    <a class="nav-link btn btn-primary" href="{{ url_for('post.upload') }}">Upload</a>
                </li>
            {% else %}
                <li>
                <a class="nav-link btn btn-primary" href="{{ url_for('auth.login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
