{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card" style="width: 10rem">
        <img src="/static/img/profile/default.jpg">
    </div>
    <div>
        <h1> {{ user.name }} </h1>
    </div>
    <div>
        {{ user.post_set | length }} posts
        <a href="{{ url_for('user.show_follower', name=user.name) }}">{{ user.followers | length }} followers</a>
        <a href="{{ url_for('user.show_following', name=user.name) }}">{{ user.following | length}} following</a>
    </div>
    <div>
        {% if g.user != user %}
            {% if user not in g.user.following %}
                <a class="btn btn-primary" href="{{ url_for('user.follow', follow_name=user.name) }}">팔로우</a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('user.unfollow', unfollow_name=user.name) }}">언팔로우</a>
            {% endif %}
            <a class="btn btn-primary" href="{{ url_for('dm.send_message', recipient=user.name) }}">DM</a>
        {% endif %}
    </div>
    <hr>
    <a class="btn btn-secondary" href="{{ url_for('user.profile', name=user.name) }}">업로드된 포스트</a>
    <a class="btn btn-secondary" href="{{ url_for('user.profile_saved', name=user.name) }}">저장된 포스트</a>
    <a class="btn btn-secondary" href="#">태그된 포스트</a>
    <div class="card-columns">
        {% if post_list %}
            {% for post in post_list %}
                {% set file_list = post.file_name.split(',') %}
                {% with post=post, file_list=file_list %}
                    {% include "posts/post_card_small.html" %}
                {% endwith %}
            {% endfor %}
        {% else %}
            게시물이 없습니다
        {% endif %}
    </div>
</div>
{% endblock %}